<nav class="flex items-center justify-between  navBar h-24">

  <div class="inline-flex items-center ml-16">
    <!-- Logo or Brand Name -->
    <div class="text-white text-lg font-bold">LuckyJob</div>

    <!-- Navigation Links -->
    <div class="align-middle space-x-8 ml-10">
      <a href="#" class="text-gray-300 hover:text-white h-full">Find job</a>
      <a href="#" class="text-gray-300 hover:text-white">Messages</a>
      <a href="#" class="text-gray-300 hover:text-white">Hiring</a>
      <a href="#" class="text-gray-300 hover:text-white">Community</a>
      <a href="#" class="text-gray-300 hover:text-white">FAQ</a>
    </div>
  </div>


  <div class="inline-flex space-x-20 mr-16">
    <!-- Location -->
    <div class="flex items-center location">
      <i class="pi pi-map-marker mx-3" style="font-size: 20px;"></i>
      <p class="mt-1">New York, NY</p>
    </div>
    
    <!-- Profile Icons -->
    <div class="flex flex-inline space-x-4">
      <img src="https://via.placeholder.com/50" alt="Organisation Icon" class="w-10 h-10 rounded-full ml-4" />
      <app-circular-icon iconClass="pi-cog"></app-circular-icon>
      <app-circular-icon iconClass="pi-bell"></app-circular-icon>
    </div>
  </div>


</nav>