<div class="flex h-full bg-gray-100 ">
    <!-- Sidebar -->
    <div class="w-80 text-black ">
        <div class="flex flex-col ml-12">
            <!-- Learn More Component -->
            <app-learn-more></app-learn-more>


            <!-- Filter Options -->
            <div class="filterComponent h-screen">
                <h2 class="text-xl font-semibold mb-4">Filters</h2>
                <ul>
                    <li class="mb-2"><a href="#" class="block p-2 hover:bg-gray-700 rounded">Link 1</a></li>
                    <li class="mb-2"><a href="#" class="block p-2 hover:bg-gray-700 rounded">Link 2</a></li>
                    <li class="mb-2"><a href="#" class="block p-2 hover:bg-gray-700 rounded">Link 3</a></li>
                    <li class="mb-2"><a href="#" class="block p-2 hover:bg-gray-700 rounded">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Card Content -->

</div>