<nav class="flex items-center justify-between  filterBar h-40">

    <div class="inline-flex space-x-20 ml-16">
      <!-- Logo or Brand Name -->
      <div class="text-white text-lg font-bold">LuckyJob</div>
  
      <!-- Navigation Links -->
      <div class="align-middle space-x-8">
        <a href="#" class="text-gray-300 hover:text-white">Find job</a>
        <a href="#" class="text-gray-300 hover:text-white">Messages</a>
        <a href="#" class="text-gray-300 hover:text-white">Hiring</a>
        <a href="#" class="text-gray-300 hover:text-white">Community</a>
        <a href="#" class="text-gray-300 hover:text-white">FAQ</a>
      </div>
    </div>
  
  
    <div class="inline-flex space-x-20 mr-16">
      <!-- Location -->
      <div class="flex space-x-4 location">
        <p>New York, NY</p>
      </div>
  
      <!-- Profile Icons -->
      <div class="rounded-full space-x-4">
        <button class="bg-white">giu</button>
        <button class="bg-white">giu</button>
        <button class="bg-white">giu</button>
      </div>
    </div>
  
  
  </nav>