<div class="flex items-center justify-between  navBar h-48">

    <div class="inline-flex space-x-20 ml-16">
      <!-- Logo or Brand Name -->
      <div class="text-white text-lg font-bold">LuckyJob</div>
  
      <!-- Navigation Links -->
      <div class="align-middle space-x-8">
        <a href="#" class="text-gray-300 hover:text-white">Find job</a>
        <a href="#" class="text-gray-300 hover:text-white">Messages</a>
        <a href="#" class="text-gray-300 hover:text-white">Hiring</a>
        <a href="#" class="text-gray-300 hover:text-white">Community</a>
        <a href="#" class="text-gray-300 hover:text-white">FAQ</a>
      </div>
    </div>
  
  
  
</div>